.hovershow {
    font-size: 50%;
    display: none;
}
li:hover .hovershow {
    display: inline;
}
a, .clickable {
  cursor: pointer;
}

.entity-link {
  display: inline-block;
  background-color: #ddeeff;
  margin: 3px;
  border: 1px solid #adf;
  border-radius: 2px;
}

.vp {
  display: inline-block;
  background-color: #ffeedd;
  margin: 3px;
  border: 1px solid #fda;
  border-radius: 2px;
}

.property {
  display: inline-block;
  background-color: #eeffdd;
  margin: 3px;
  border: 1px solid #dfa;
  border-radius: 2px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.type-string {
  color: #09953b;
}

.type-number {
  color: #da6300;
}

h2 {
  margin: 10px 0px 10px 0px;
}

.fact {
  display: inline-block;
  background-color: #ffc8dd;
  margin: 1px;
  border: 1px solid #faa;
  border-radius: 2px;
}

.type-text, a.type-location {
  display: inline-block;
  background-color: #f8f8f8;
  text-decoration: none;
  color: inherit;
  vertical-align: top;
  max-width: 300px;
}

.rename-input {
  display: block;
}

nav img, nav a {
  height: 1.8em;
  vertical-align: bottom;
  display: inline-block;
}

.invalid {
  opacity: 0.5;
}

.validity {
  background: red;
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 2px;
  color: white;
}

.validity-editable {
  border: 1px solid gray;
  padding: 1px;
  border-radius: 2px;
}
