<!DOCTYPE html>
<html>
<head>
    <script src="/htmx.js"></script>
    <title>Veronique</title>
    <style>
        .hovercreated {{
            font-size: 50%;
            display: none;
        }}
        li:hover .hovercreated {{
            display: inline;
        }}
    </style>
</head>
<body>
    <nav>
        <a hx-get="/entities" hx-select="#container" hx-push-url="true" hx-target="#container">Entities</a>
        <a hx-get="/properties" hx-select="#container" hx-push-url="true" hx-target="#container">Properties</a>
        <a hx-get="/types" hx-select="#container" hx-push-url="true" hx-target="#container">Types</a>
    </nav>
    <hr>
    <div id="container">{}</div>
</body>
</html>
