html {
  font-size: 200%;
  --lightgrey: #f1f1f1;
}
a, .clickable {
  cursor: pointer;
}

.claim-link {
  display: inline-block;
  background-color: #ddeeff;
  margin: 3px;
  border: 1px solid #adf;
  border-radius: 2px;
}

.handle {
  text-decoration: none;
  color: #888;
  opacity: 0.7;
  transform: translateY(-3px);
  display: inline-block;
  &:hover {
    opacity: 1;
  }
  &.more {
    color: black;
  }
}


#triangle {
  font-size:135pt;
  display: grid;
  position: absolute;
  top: 0;
  span {
    grid-column: 1;
    grid-row: 1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    &:nth-child(1) {
      background-color: black;
      opacity: 0.5;
    }
    &:nth-child(2) {
      background-image: linear-gradient(0deg, #ff670f 0%, #ff670f 21%, #ffffff 56%, #0eea57 88%);
      /* animation-duration: 17s; */
      /* animation-name: foo; */
    }
    &:nth-child(3) {
      background-image: linear-gradient(72deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
      animation-duration: 13s;
      animation-name: foo;
    }
    &:nth-child(4) {
      background-image: linear-gradient(144deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
      animation-duration: 11s;
      animation-name: foo;
    }
    &:nth-child(5) {
      background-image: linear-gradient(216deg,rgba(16, 40, 176, 1) 0%, rgba(219, 0, 62, 1) 50%, rgba(252, 218, 69, 1) 100%);
      animation-duration: 7s;
      animation-name: foo;
    }
    &:nth-child(6) {
      background-image: linear-gradient(288deg,rgba(0, 242, 255, 1) 0%, rgba(255, 199, 79, 1) 100%);
      animation-duration: 5s;
      animation-name: foo;
    }
  }
  &:hover {
    text-decoration: none;
  }
}

@keyframes foo {
  0% {
    opacity: 0.7;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0.8;
    }
}

.new-item-placeholder {
  width: 100%;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 2px;
  background-color: #f8f8f8;
  opacity: 0.5;
  cursor: pointer;
  margin-bottom: var(--pico-typography-spacing-vertical);
  &:hover {
    opacity: 1;
  }
}

table.claims td {
  vertical-align: top;
  width: 50%;
  border: none;
  &has(.sv) {
    text-align: right;
  }
}

.sv {
  display: inline-block;
  background-color: #ddffee;
  margin: 3px;
  border: 1px solid #afd;
  border-radius: 2px;
  text-align: right;
}

.vo {
  display: inline-block;
  background-color: #ffeedd;
  margin: 3px;
  border: 1px solid #fda;
  border-radius: 2px;
}

.svo {
  display: inline-block;
  background-color: #eeddff;
  margin: 3px;
  border: 1px solid #fda;
  border-radius: 2px;
}

.verb {
  display: inline-block;
  background-color: #eeffdd;
  margin: 3px;
  border: 1px solid #dfa;
  border-radius: 2px;
}

.type-string {
  color: #09953b;
}

.type-number {
  color: #da6300;
}

h2 {
  margin-top: calc(var(--pico-typography-spacing-vertical) * 0.5) !important;
  margin-bottom: calc(var(--pico-typography-spacing-vertical) * 0.5) !important;
  text-align: center;
  &>.svo>.handle {
    display: none;
  }
}

small {
  font-size: 50%;
  color: #2889be;
}

.type-text, a.type-location {
  display: inline-block;
  background-color: var(--lightgrey);
  text-decoration: none;
  color: inherit;
  vertical-align: top;
  max-width: 25em;
}

nav {
  padding: 1em;
  img {
    width: 3em;
    transform: scale(2);
  }
}

.invalid {
  opacity: 0.5;
}

.type-picture {
  max-width: 300px;
  max-height: 200px;
}
.toolbutton[role="button"] {
  padding: 10px;
}

#container {
  padding: 1em;
  max-width: fit-content;
  min-width: 1450px;
  margin: auto;
}

#add-button {
  background-color: green;
  border-radius: 200px;
  width: 75px;
  height: 75px;
  box-shadow: 0 0 3px gray;
  margin-right: 15px;
  color: white;
  text-align: center;
}

li:has(#add-button) {
  height: 126px;
}

article {
  overflow: hidden;
  button, a.toolbutton[role=button] {
    float: right;
  }
}

.prev {
  float: left;
  margin-top: 25px;
  margin-bottom: 15px;
}

.next {
  float: right;
  margin-top: 25px;
  margin-bottom: 15px;
}

.svo:has(.date-today) {
  box-shadow: green 0px 0px 10px;
  border: 4px solid green;
}

hr.date-today {
  border-top: 4px solid green;
  box-shadow: green 0px 0px 10px;
}

.ac-result {
  display: block;
  padding: 10px 0px 10px 20px;
  text-align: left;
}

.ac-widget {
  border: 1px solid var(--lightgrey);
  border-radius: 10px;
  background-color: var(--lightgrey);
}

.ac-widget input {
  margin-bottom: 0;
}

.clickable.ac-result:nth-child(1) {
  margin-top: calc(-1 * var(--pico-spacing));
  padding-top: 20px;
}

.clickable.ac-result:last-child {
  margin-bottom: var(--pico-spacing);
}

header {
  position: relative;
}

header>.avatar {
  width: 145px;
  height: 145px;
  border: 2px solid white;
  border-radius: 100px;
  outline: 2px solid var(--lightgrey);
  position: absolute;
  object-fit: cover;
  top: 20px;
  left: 20px;
}

.claim-link .avatar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  vertical-align: middle;
  margin-bottom: 6px;
  display: inline;
  margin-left: 5px;
  object-fit: cover;
}

.avatar+h2 {
  padding-left: 155px;
}

.mana-0 {
  display: none;
}

.mana-1 {
  opacity: 20%;
}

.mana-2 {
  opacity: 40%;
}

.mana-3 {
  opacity: 60%;
}

.mana-4 {
  opacity: 80%;
}

.mana-5 {
  opacity: 100%;
}

#cy {
  height: 800px;
  width: 1200px;
  display: block;
}


.error {
  color: var(--pico-form-element-invalid-active-border-color);
}

details.dropdown.clean {
  summary {
    border: none !important;
    width: auto;
    height: auto;
  }
  summary::after {
    background: none;
  }
}
nav details.dropdown {
  display: inline-block !important;
}

/* BEGIN: syntax highlighting */
/* Please see the article */

#editing, #highlighting {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  margin: 10px;
  padding: 10px;
  border: 0;
  width: calc(100% - 32px);
  height: 150px;
  position: relative;
  top: 0;
  left: 0;
  overflow: auto;
  white-space: pre; /* Allows textarea to scroll horizontally */
}
#editing, #highlighting, #highlighting * {
  /* Also add text styles to highlighing tokens */
  font-size: 15pt;
  font-family: monospace;
  line-height: 1.5;
  tab-size: 2;
}


/* Move the textarea in front of the result */

#editing {
  z-index: 1;
  color: transparent;
  background: transparent;
  caret-color: white; /* Or choose your favourite color */
  resize: none;
}
#highlighting {
  z-index: 0;
  transform: translateY(calc(-100% - 10px));
  background: #000;  /* same color as the highlighting background */
}
/* END: syntax highlighting */

#notices {
  position: fixed;
  top: 20px;
  width: 90%;
  height: fit-content;
  min-height: fit-content;
  left: 50%;
  transform: translateX(-50%);
  background-color: lightblue;
  padding: 20px;
}

#errors {
  position: fixed;
  top: 20px;
  width: 90%;
  height: fit-content;
  min-height: fit-content;
  left: 50%;
  transform: translateX(-50%);
  background-color: pink;
  padding: 20px;
}

.dismiss {
  float: right;
  cursor: pointer;
  color: grey;
}

table.comments {
  width: auto;

  tr {
    border-bottom: 9px solid transparent;
  }

  td {
    padding: 2px;
  }
  .comment-text {
    position: relative;
    background: #cacaca;
    margin-left: 20px;
    display: inline-block;
    padding: 5px;
    box-shadow: 0px 1px 0px black;
    border-radius: 10px;
  }
  .comment-text:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    border: 20px solid transparent;
    border-right-color: #cacaca;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
    box-shadow: 0px 1px 0px black;
  }
  .comment-author {
    text-align: right;
  }
}

.row {
  display: block;
}
